*.deb
*.dsc
*.log
*.build
*.upload
*.changes
*.substvars
*.orig.tar.*
*.debian.tar.xz
debhelper-build-stamp
*/debian/tmp/
*/debian/files

/libmkl/debian/libmkl1/
/libmkl/debian/libmkl-dev/
/libmkl/opt/

/dlib/debian/libdlib19/
