*.deb
*.dsc
*.log
*.build
*.upload
*.changes
*.substvars
*.orig.tar.*
*.debian.tar.xz
debhelper-build-stamp
*/debian/tmp/
*/debian/files

/libmkl/*
!/libmkl/debian/
/libmkl/debian/libmkl1/
/libmkl/debian/libmkl-dev/

/dlib/*
!/dlib/debian/
/dlib/debian/libdlib19/
/dlib/debian/libdlib-dev/
