Source: dlib
Priority: optional
Maintainer: Kagami Hiiragi <kagami@genshiken.org>
Build-Depends: debhelper (>= 9), bzip2, cmake, pkg-config, libmkl-dev
Standards-Version: 3.9.7
Section: libs
Homepage: http://dlib.net/
Vcs-Git: https://github.com/Kagami/dlib-debian.git
Vcs-Browser: https://github.com/Kagami/dlib-debian

Package: libdlib-dev
Section: libdevel
Architecture: amd64
Depends: libdlib19 (= ${binary:Version}), libmkl-dev, ${misc:Depends}
Description: C++ toolkit for machine learning and computer vision - development
 Dlib is a general purpose cross-platform open source software library written
 in the C++ programming language. It now contains software components for
 dealing with networking, threads, graphical interfaces, complex data
 structures, linear algebra, statistical machine learning, image processing,
 data mining, XML and text parsing, numerical optimization, Bayesian networks,
 and numerous other tasks.
 .
 This package contains the development files.

Package: libdlib19
Architecture: amd64
Depends: libmkl1, ${shlibs:Depends}, ${misc:Depends}
Description: C++ toolkit for machine learning and computer vision - library
 Dlib is a general purpose cross-platform open source software library written
 in the C++ programming language. It now contains software components for
 dealing with networking, threads, graphical interfaces, complex data
 structures, linear algebra, statistical machine learning, image processing,
 data mining, XML and text parsing, numerical optimization, Bayesian networks,
 and numerous other tasks.
