#!/usr/bin/make -f

export DEB_CFLAGS_MAINT_APPEND = -O3 -DNDEBUG
export DEB_CXXFLAGS_MAINT_APPEND = $(DEB_CFLAGS_MAINT_APPEND)

%:
	dh $@ --buildsystem=cmake --sourcedirectory=dlib --parallel

override_dh_auto_configure:
	dh_auto_configure -- \
		-DBUILD_SHARED_LIBS=ON \
		-DDLIB_JPEG_SUPPORT=OFF \
		-DDLIB_LINK_WITH_SQLITE3=OFF \
		-DDLIB_USE_CUDA=OFF \
		-DDLIB_PNG_SUPPORT=OFF \
		-DDLIB_GIF_SUPPORT=OFF \
		-DDLIB_NO_GUI_SUPPORT=ON \
		-DUSE_AVX_INSTRUCTIONS=ON
