Source: dlib
Priority: optional
Maintainer: Kagami Hiiragi <kagami@genshiken.org>
Build-Depends: debhelper (>= 9), bzip2, cmake
Standards-Version: 3.9.8
Section: libs
Homepage: http://dlib.net/
Vcs-Git: https://github.com/severin-lemaignan/dlib-debian.git
Vcs-Browser: https://github.com/severin-lemaignan/dlib-debian

Package: libdlib19
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ toolkit for machine learning and computer vision - library
 Dlib is a general purpose cross-platform open source software library written
 in the C++ programming language. It now contains software components for
 dealing with networking, threads, graphical interfaces, complex data
 structures, linear algebra, statistical machine learning, image processing,
 data mining, XML and text parsing, numerical optimization, Bayesian networks,
 and numerous other tasks.
